<h2>Users that joined</h2>

<table style="width: 100%">
  <thead>
    <tr>
      <th>User</th>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, profiles_path(user) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%=link_to('Logout', destroy_user_session_path, :method => 'delete')%>