<% if current_user %>
<p></p>
<p></p>
<p></p>
<div></div>
<div></div>
<div></div>
<div></div>
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">Período Actual:</a></li>
  <li class="tab-title"><a href="#panel2">Siguiente Periodo:</a></li>
  <li class="tab-title"><a href="#panel3">Graf:</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <h3> Turnos </h3>
      
      <table>
        <thead>
        </thead>
        <tbody> 
          # Turnos
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="content" id="panel2">
       <h3> Notas: </h3>
      
      <table>
        <thead>
         
        </thead>
        <tbody> 
          
        </tbody>
      
      </table>
    </div>
</div>
<% else %>
  <div class="panel">
    <p><%= Time.now.strftime("%d/%m/%Y") %></p>
    <h1>Registre sus Pacientes y Turnos</h1>
    <p>La manera más simple de administrar su consultorio.</p>
    <%= link_to "Comenzar hoy", new_user_registration_path, :class => "button button-large" %>
  </div>

  <hr>

  <div class="row">
    <div class="large-8 columns">
      <h3>Sobre la aplicación ...</h3>
      <p>Usted puede organizar sus pacientes con esta herramienta. Administrar turnos diarios ... </p>
    </div>
  </div>
<% end %>